# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Widget Preview related
.widget_preview/




# Flutter / Dart                                                                                          
.packages                                                                                                 
                                                                                                            
# Web build y caché                                                                                       
lib/generated_plugin_registrant.dart                                                                      
                                                                                                            
# Android / iOS (por si acaso existen las carpetas en el proyecto)                                        
.android/                                                                                                 
.ios/                                                                                                     
ios/Runner/GeneratedPluginRegistrant.h                                                                    
ios/Runner/GeneratedPluginRegistrant.m                                                                    
                                                                                                            
# Logs y temporales                                                                                       
*.tmp                                                                                                     
*.temp                                                                                                    
                                                                                                            
# Archivos de IDEs / Editores                                                                             
.vscode/                                                                                                  
.idea/                                                                                                    
*.iml                                                                                                     
*.iws                                                                                                     
*.ipr                                                                                                     
                                                                                                            
# Archivos del sistema operativo                                                                          
.DS_Store                                                                                                 
Thumbs.db                                                                                                 
desktop.ini                                                                                               
                                                                                                            
# Credenciales o envs locales de Flutter (si llegas a usar `.env` en la app)                              
.env*                                                                                                     
!.env.example
app/clearing/linux/flutter/generated_plugin_registrant.cc
app/clearing/linux/flutter/generated_plugins.cmake
app/clearing/macos/Flutter/GeneratedPluginRegistrant.swift